@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@theme {
  --font-space-grotesk: "Space Grotesk", "sans-serif";
  --font-fjalla-one: "Fjalla One", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-google-sans: "Google Sans", "sans-serif";
}

@import "tailwindcss";

body {
  background: #000000;
  color: white;
}
